.section-heading {
    text-align: center;
}
#about {
    text-align: center;


}


#portfolio {
    text-align: center;
}

.paddingTop {
    padding-top: 50px;
}

.padding {
    padding-top: 50px;
    padding-bottom: 20px;
}

.spacer20{
    min-height:30px;
    clear:both;
}

.clear{
    clear:both;
}

.social a {
    color: lightgrey;
    text-decoration: none;
}

.social > .linkedin a:hover{
    color: #0177b5;
}

.social > .github a:hover{
    color: black;
}