.section-heading {
    text-align: center;
}
#about {
    text-align: center;
    background-color: #9dd5c7;

}

#portfolio {
    text-align: center;
}

.paddingTop {
    padding-top: 50px;
}

.padding {
    padding-top: 50px;
    padding-bottom: 20px;
}

.spacer20{
    min-height:30px;
    clear:both;
}

.clear{
    clear:both;
}